body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.fond1 {
    height: 100vh;
    width: 40vw;
    background-image: url("img/fond\ vert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: greenyellow;*/
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 16, 16);
    flex: 0.7;


}

.infos {
    display: flex;
    border: 1px solid black;
    flex: 1;
    color: blanchedalmond;
}

.infosperso {
    display: flex;
    flex-direction: column;

}

.logo {
    display: flex;
}

.description {
    height: 40vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    padding-top: 50vh;
    padding-left:5vh
    

}

.nom {
    display: flex;
    

}

.liens {
    display: flex;
    order: ;


}

#logo {
    max-height: 15vh
}

#photo {
    border-radius: 10em;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);





}

.infos1 {
    display: flex;
    align-items: flex-end;

}

.infosperso {
    border: 1px solid rgb(35, 22, 218);
    flex: 1;
}


p {
    padding: 10px
}

h5 {
    padding: 6px
}

button {
    border-radius: 3em;
    background-color: rgb(223, 151, 151);
    color: white;
    border: 0px;
}